@font-face {
  font-family: 'pacifico';
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}

:root {
    --cor-back: #e6e6e6;
    --cor-texto:
}


body {
    /* background-color: var(--cor-back); */
    background-image: url( '../img/back.svg' );
}
table {
    background-color: rgb(230, 230, 230,0.4);
    border-radius: 1vh;
}


/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 2px grey;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #789681;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray;
    border: 1px solid blue;
  }


  @media print {
    #myDivToPrint {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}