<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WTM</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/vue2.6.14.js"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg" >
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WTM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <img src="../img/menu.png" alt="menu" height="32">
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <button type="button" class="btn btn-danger btn-sm position-absolute bottom-0 end-0" 
                style="margin-bottom: 3vh; margin-right: 3vh; margin-top: 3vh;" id="close-button">X</button>
                <ul class="navbar-nav">
                    <li class="nav-item" >
                        <a class="nav-link menu-item" href="#">Cronômetro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-item" href="#">Horas trabalhadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-item" href="#">Configurações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-item">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container">
        <div style="text-align: center;" class="container">
            <span id="tempo">{{cronometro}}</span>
        </div>
    </section>

    <section style="text-align: center;" class="container">
        <div class="btn-group" role="group" aria-label="Basic example" id="crono-button-group">
            <button type="button" class="btn btn-success" onclick="inicia()">Start</button>
            <button type="button" class="btn btn-primary" onclick="pausa()">Stop</button>
            <button type="button" class="btn btn-danger" onclick="reset()">Reset</button>
            <button type="button" class="btn btn-info" onclick="save()">Save</button>
        </div>
    </section>

    <!-- prompt salvar -->
    <section style="text-align: center; margin-top: 3vh;" class="container" id="input-save" v-if="seen">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Descrição</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" v-model="value">
            <button type="button" class="btn btn-success" onclick="salvarHoras()">Logar Horas</button>
          </div>
    </section>

    <section style="text-align: center; margin-top: 3vh;" class="container">
        <table class="table" id="table-horas">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Atividade</th>
                    <th scope="col">Tempo</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="atividade in horas">
                    <th scope="row">{{atividade.id}}</th>
                    <td>{{atividade.atividade}}</td>
                    <td>{{atividade.tempo}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger" @click="deleteAtividade(atividade.id)">
                            <img src="../img/trash.png" alt="excluir" height="24">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>


    <script src="../js/render-index.js"></script>
</body>

</html>